{% extends "layouts/default.html.twig" %}

{% set colors = ['primary', 'secondary', 'warning', 'danger', 'dark', 'info', 'success'] %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/aftoast.min.css') }}">
{% endblock %}

{% block main %}

    <div class="page-content" style="padding: 10px 0">
        <div class="row">
            <div class="col-12">
                <div class="card mt-n4 mx-n4">
                    <div class="bg-soft-warning">
                        <div class="card-body pb-0 px-4">
                            <div class="row mb-3">
                                <div class="col-md-2 col-12">
                                    <div class="project-image">
                                        <img 
                                            src="{{ asset(project.image ?? 'images/default/project.jpg') }}" 
                                            srcset="{{ asset(project.image ?? 'images/default/project.jpg') }}" 
                                            alt="Photo du projet {{ project.name|capitalize }}" 
                                            title="Photo du projet {{ project.name|capitalize }}" 
                                            id="project_image_{{ project.id }}"
                                            class="card-img-top explore-img"
                                            style="max-width: 150px;"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-10 col-12">
                                    <h4 class="fw-bold mt-2">{{ project.name }}</h4>
                                    <div class="hstack gap-3 flex-wrap mt-3">
                                        <div class="">
                                            Crée le {{ project.createdAt|date('d M Y') }}
                                        </div>
                                        <div class="vr"></div>
                                        <div class="">
                                            Dernière modification le {{ (project.publishedAt ?? project.updatedAt)|date('d M Y') }}
                                        </div>
                                        {% if project.stacks|length > 0 %}
                                            <div class="vr"></div>
                                            <div class="">
                                                {% if project.stacks %}
                                                    {% for s in project.stacks %}
                                                        <span class="badge bg-primary">{{ s.name }}</span>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-muted">
                    <h6 class="mb-3 fw-semibold text-uppercase">Description</h6>
                    {{ project.description|raw }}
                </div>
            </div>
        </div>
    </div>    

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/aftoast.min.js')}}"></script>
{% endblock %}