{{ form_start(form) }}
    <div class="row">
        <div class="col-lg-8 col-xxl-9">
                {{ form_row(form.name) }}    
                {{ form_row(form.link) }}    
                {{ form_row(form.description) }}    
                {{ form_row(form.stack) }}
        </div>
        <div class="col-lg-3 col-xxl-3">

            {{ form_row(form.save) }}

            <!-- Accordions Bordered -->
            <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box" id="accordionInfosContainer">
                <div class="accordion-item shadow">
                    <h2 class="accordion-header" id="accordionInfos">
                        <button class="accordion-button" type="button" aria-expanded="true" aria-controls="accordionInfosCollapse">
                            Publier
                        </button>
                    </h2>
                    <div 
                        id="accordionInfosCollapse" 
                        class="accordion-collapse collapse show" 
                        aria-labelledby="accordionInfos" 
                        data-bs-parent="#accordionInfosContainer"
                    >
                        <div class="accordion-body">
                            <div class="row justify-content-end">
                                {% if project.id %}
                                    <a 
                                        href="{{ path('website_project_show', {
                                            slug: project.slug, 
                                            id: project.id
                                        }) }}" 
                                        class="btn btn-success mb-1" 
                                        target="_blank"
                                    >Prévisualiser</a>
                                {% endif %}
                            </div>
                            {{ form_row(form.state) }}
                            {{ form_row(form.visibility) }}
                            {% if project.id %}
                                <small style="display: block;">
                                    Dernière modification : {{ (project.updatedAt ?? project.createdAt)|format_datetime('full', locale='fr') }}
                                </small>
                                <a href="{{ path('dashboard_project_publish', {id: project.id}) }}" class="btn btn-primary">Publier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion custom-accordtionwithicon custom-accordion-border accordion-border-box" id="accordionPermalinkContainer">
                <div class="accordion-item shadow mt-2">
                    <h2 class="accordion-header" id="accordionPermalink">
                        <button 
                            class="accordion-button collapsed" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#accor_permalink" 
                            aria-expanded="false" 
                            aria-controls="accor_permalink"
                        >Permalien</button>
                    </h2>
                    <div 
                        id="accor_permalink" 
                        class="accordion-collapse collapse" 
                        aria-labelledby="accordionPermalink" 
                        data-bs-parent="#accordionPermalinkContainer"
                    >
                        <div class="accordion-body">
                            {{ form_row(form.slug) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion custom-accordtionwithicon custom-accordion-border accordion-border-box" id="accordionUploaderContainer">
                <div class="accordion-item shadow mt-2">
                    <h2 class="accordion-header" id="accordionUploaderLabel">
                        <button 
                            class="accordion-button collapsed" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#accor_Uploader" 
                            aria-expanded="false" 
                            aria-controls="accor_Uploader"
                        >Image</button>
                    </h2>
                    <div 
                        id="accor_Uploader" 
                        class="accordion-collapse collapse" 
                        aria-labelledby="accordionUploaderLabel" 
                        data-bs-parent="#accordionUploaderContainer"
                    >
                        <div class="accordion-body">
                            <img 
                                src="{{ asset(project.image ?? '') }}" 
                                alt="Image {{ project.name }}" 
                                srcset="{{ asset(project.image ?? '') }}"
                                title="Image {{ project.name }}"
                                class="img-fluid rounded previewer-image"
                                {% if project.image == null %}style="display:none;"{% endif %}
                            >
                            {{ form_row(form.uploadedFile) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    </div>
{{ form_end(form) }}