{% extends "dashboard/base.html.twig" %}

{% block main %}
	<div class="container-fluid my-5" style="background-color: #fff;">
		<div class="row g-4 mb-3">
			<div class="col-auto">
				<div>
					<a href="{{ path('dashboard_project_new') }}" class="btn btn-success">
						<i class="ri-add-line align-bottom me-1"></i>
						Nouveau projet
					</a>
				</div>
			</div>
			<div class="col-sm">
				<div class="d-flex justify-content-sm-end gap-2">
					<div class="search-box ms-2">
						<input type="text" class="form-control" placeholder="Search...">
						<i class="ri-search-line search-icon"></i>
					</div>
					<div class="col-auto">
						<select name="filters" id="filters" class="form-select" aria-label="Aria label">
							<option value="">Value 1</option>
							<option value="">Value 2</option>
							<option value="">Value 3</option>
							<option value="">Value 4</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h1 class="h3 mb-2">Liste des projets</h1>
        		{% include "partials.html.twig" %}
				<table class="table-nowrap table hover table-striped align-middle">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Nom</th>
							<th scope="col">Date de création</th>
							<th scope="col">État</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for project in projects %}
							<tr>
								<th scope="row">#{{ project.id }}</th>
								<td>{{ project.name|capitalize }}</td>
								<td>{{ project.createdAt|format_datetime('full', locale='fr') }}</td>
								<td>
									<span class="badge badge-soft-success text-uppercase">{{ project.state }}</span>
								</td>
								<td>
									<a href="{{ path('dashboard_project_edit', { id: project.id }) }}" class="btn btn-soft-primary edit-list" title="Editer le projet {{ project.name|capitalize }}">
										<i class="ri-pencil-fill align-bottom"></i>
									</a>
									<a href="{{ path('dashboard_project_delete', { id: project.id }) }}" class="btn btn-soft-danger remove-list" title="Supprimer le projet {{ project.name|capitalize }}">
										<i class="ri-delete-bin-5-fill align-bottom"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<nav class="mt-2" id="pagination-project">
					{{ knp_pagination_render(projects) }}
				</nav>
			</div>
		</div>
	</div>

{% endblock %}
