<!DOCTYPE html>
<html lang="fr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes, shrink-to-fit=no">
    <meta name="description" content="CV développeur Web : création et développement de sites et d'applications Web. HTML5, CSS3, JQuery, Javascript, Bootstrap, PHP, Symfony, ...">
    <meta name="Keywords" content="Frédérick AGATHE, développeur, développeur Symfony, développeur PHP, développeur web Paris, développeur php île-de-france, web, CV, site CV, site portfoli, application web, html5, css3, jquery, php, javascript">
    <meta name="robots" content="index,follow,all">
    <meta name="author" content="Frédérick AGATHE">
    <meta name="google-site-verification" content="fH4YZu6ohhwsaYnR9reZGstqt6dClSoInCyke7Y1_eQ">    
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset('images/logo.png') }}">

    {% if app.environment == "prod" %}
        <!-- Google Analytics pour le site prod -->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-75ZJ4S8NBF"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-75ZJ4S8NBF');
        </script> 
    {% endif %}
    
    <!-- Layout config Js -->
    <script src="{{ asset('js/layout.js') }}"></script>
    <!-- Bootstrap Css -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ asset('css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{ asset('css/custom.min.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}
        
    <!-- Aos library Js File -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <title>{{ (title is defined) ? title ~ ' |' : 'Frédérick AGATHE, portfolio développeur php-react' }}</title>
</head>


<body data-bs-spy="scroll" data-bs-target="#navbar-example">
    
    <!-- Begin page -->
    <div class="layout-wrapper landing">
        
        <!-- start navbar -->
        {% include "layouts/components/header.html.twig" %}
        <!-- end navbar -->

        <section class="section hero-section pb-0" id="hero">
        </section>

        <section class="section" id="section">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consequatur repellat saepe voluptatibus ab? Quis cupiditate rerum nulla, obcaecati dolores ipsum soluta architecto perspiciatis, nostrum facilis optio. Magnam nam earum numquam sed porro architecto molestias sapiente, ut suscipit repellendus praesentium eveniet illo dicta totam ratione quia placeat soluta debitis dolorum distinctio nisi alias voluptas laboriosam. Perferendis nobis unde neque dicta tempore beatae laboriosam! Reprehenderit, qui illum incidunt, rerum voluptatibus quasi voluptates sequi voluptate itaque ex deserunt delectus, nulla sit iusto facere illo doloribus? Quos labore officiis aliquid, optio adipisci ipsum reiciendis ab aut quia modi voluptatibus ex earum! Quas excepturi eaque corporis rem harum nobis illum voluptatum ducimus quae impedit. Dolorem temporibus quisquam praesentium delectus fugit non accusamus eos alias fugiat? Rerum provident facilis cum voluptatem tempora ipsa impedit autem explicabo magni illo nam nemo dolores ipsam ea sunt alias nesciunt natus saepe pariatur illum iure quisquam, quam odio! Cum!</p>
            <p>Quod assumenda nemo cumque accusamus molestias. Facere molestias rem magni adipisci similique quis minus, ratione aspernatur, quas aperiam vel est nam distinctio. Quaerat veritatis nemo explicabo voluptatum inventore ipsum quas, odio amet. Voluptates iste, cupiditate corrupti sunt assumenda minus soluta quia veniam mollitia! Dolorum architecto minus eum rem. Eos debitis illo dolorem dolores fuga facere quas quos labore quae, tempore dignissimos architecto illum laudantium qui repellendus. Voluptas sunt dolores cumque consequatur nihil natus voluptates exercitationem dignissimos veniam nam assumenda quae quasi eum illum et tempore ex quam id, ducimus harum minima quaerat vero deleniti beatae. Voluptas nihil ea quaerat minus dolorem quos culpa fugiat, optio quidem libero? Recusandae eum aspernatur aperiam nesciunt dolorum ipsa excepturi obcaecati repudiandae? Error rem ipsa in esse aliquid magnam itaque laborum necessitatibus nesciunt porro, commodi aperiam repellendus id vero amet minima atque harum reiciendis explicabo deleniti ex soluta. Corporis, a? Ducimus dicta eaque nostrum nemo.</p>
        </section>
        <section class="section" id="section">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga eveniet repellat maiores earum impedit reiciendis soluta, labore illo laboriosam sit fugit ab vero reprehenderit recusandae necessitatibus, molestiae quibusdam amet consectetur? Itaque necessitatibus quidem numquam assumenda deserunt, iste vero dignissimos in dolore ipsa, vitae veniam. Ad maiores nihil voluptate itaque iste minus vel nisi laudantium, natus officiis deleniti ut ducimus perferendis totam dolorem unde ab asperiores eos eum at quasi harum veritatis necessitatibus explicabo. Odio nam incidunt sunt possimus aspernatur aperiam excepturi, totam, quas, maxime natus exercitationem delectus! Ullam, perspiciatis hic ex iste deleniti doloribus exercitationem accusamus nisi aliquid dignissimos reprehenderit commodi dolore nam, vel modi sit, labore inventore architecto expedita! Distinctio, veritatis quaerat accusantium mollitia, optio eius ab alias soluta hic, perspiciatis labore minima. Voluptatum reiciendis porro eveniet! Voluptatibus commodi totam minima nihil nemo rerum atque aliquam consequuntur ipsam porro dolorem excepturi ratione dicta repudiandae fugiat praesentium, voluptatem ipsum.</p>
            <p>Ad assumenda possimus facilis. Ratione neque sed magni cupiditate reiciendis quaerat omnis esse quidem soluta dignissimos! Esse illum quas quibusdam, dignissimos iste quae. Aspernatur dignissimos, optio esse, cumque beatae soluta dicta perferendis, ipsam quae iusto quos ad. Fugiat incidunt blanditiis perspiciatis doloribus aspernatur repudiandae ad laboriosam beatae asperiores. Atque obcaecati hic aliquid amet, enim mollitia, dolorem, iste eaque voluptate voluptatem ut consequatur eum! Quasi vero aperiam adipisci esse, consequatur voluptates dolore et minus eius dicta ea, at sit? Corporis voluptatum modi quisquam necessitatibus voluptates corrupti laudantium impedit molestias incidunt doloribus, voluptatibus dolores dolor sunt ratione eum voluptatem iure quis eos repudiandae vel ex. Reprehenderit doloribus obcaecati recusandae debitis ex dignissimos tenetur possimus impedit! Eum inventore ipsa autem delectus voluptas officiis dolor architecto illo consequuntur nihil! Labore nesciunt ipsam nisi, eveniet assumenda ullam sit error dolores qui quis asperiores exercitationem cum ea, corporis quidem quam, totam reprehenderit enim quos explicabo dicta.</p>
        </section>
        <section class="section" id="section">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iste, accusantium quis soluta quod at, aliquam eligendi ut, mollitia doloribus sint natus et. Blanditiis dolorem dolores enim possimus quibusdam expedita omnis alias fugit deserunt impedit. Nisi reiciendis perspiciatis sint impedit laborum molestias voluptate laudantium iste quo! Velit neque illo ipsa quas veritatis facilis quia similique tenetur dolorem laudantium corrupti fugit eum sequi eaque doloribus, nisi qui? Veniam fuga voluptas, recusandae reiciendis voluptatum, illum suscipit quos possimus veritatis voluptatem adipisci cumque alias consequatur nemo similique, fugit sapiente. Nihil assumenda quo doloremque consequuntur repellendus! Voluptates eligendi facilis saepe consectetur officiis, facere blanditiis neque, praesentium in quas ipsam quibusdam nihil omnis explicabo optio quod, nobis reprehenderit minima deserunt. Delectus expedita rem natus enim, libero reiciendis sit ea dolor! Tenetur officia et asperiores nam modi optio nostrum voluptatem exercitationem suscipit magni veritatis quasi, magnam nulla perspiciatis excepturi porro ratione at nobis velit deleniti! Consectetur.</p>
            <p>Vel debitis placeat animi reiciendis accusamus distinctio ipsam quas cumque amet expedita. Odit a nulla non et, nihil odio enim, earum provident totam suscipit nobis recusandae laborum corporis vel dolorem ea similique molestias, laboriosam veniam. Non unde distinctio repellendus voluptate quod, officiis laudantium eius, maxime natus adipisci deleniti dicta error, dignissimos harum quos illo dolorem. Dolores blanditiis tempora quam. Maiores labore maxime vel illo omnis laudantium id, dicta nostrum sapiente adipisci? Ex quibusdam laudantium molestiae et perspiciatis deleniti porro quisquam, facere possimus alias harum totam distinctio rerum tenetur iste doloribus. Ducimus eveniet delectus dolor rerum aspernatur voluptatum exercitationem explicabo, dolores veritatis labore, temporibus soluta ipsa laborum libero dolorum hic nesciunt id ea ipsam voluptate minus, facilis distinctio. Beatae unde, quaerat voluptate esse dolore nostrum tempore ipsam autem quam, temporibus impedit eum. Possimus numquam alias iusto omnis, necessitatibus aperiam distinctio. Quos deserunt amet cumque vel dicta veniam saepe obcaecati debitis repellat?</p>
        </section>
        <section class="section" id="section">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo odit iure quisquam, quaerat tempora praesentium asperiores dolor numquam amet, animi perspiciatis! Iusto optio quos quis. Earum voluptatem asperiores ipsam esse labore adipisci quas. Sit tempore, quae hic quidem rerum temporibus dolores vitae? Blanditiis delectus saepe molestiae minima cumque neque fuga in laborum porro praesentium soluta facilis voluptatum, iste ratione doloribus laudantium. Quam voluptatibus fuga quas neque nobis, dolorum sunt, velit voluptate, ad necessitatibus voluptas? Eligendi obcaecati sit illum sapiente nesciunt, quasi deserunt cupiditate voluptatibus, fugit et expedita? Itaque aliquid cum magni eaque aperiam unde sequi placeat, nostrum officiis, asperiores aliquam reiciendis deserunt autem, quidem officia doloribus dolore. Officiis quisquam velit perspiciatis quod tenetur minima sunt, excepturi quo fugiat eius accusamus, rem repellat provident autem incidunt saepe consequuntur adipisci? Numquam ea dolor provident ratione laudantium distinctio. Autem, illo quaerat! Repellat accusamus incidunt omnis ipsam temporibus adipisci voluptatem facilis corrupti explicabo! Ipsam.</p>
            <p>Tenetur et pariatur fugiat aspernatur aliquam tempore, animi quaerat suscipit odit vel cum iure reiciendis, quod alias. Officia eius quos consequuntur error, velit voluptas, ipsum in voluptatum doloribus illum ut voluptates rerum architecto et! Magni quam rerum distinctio quibusdam illo aspernatur delectus natus totam, nulla eius fuga beatae amet corrupti, consequatur blanditiis? Molestias vitae excepturi error amet ipsum eaque eveniet laudantium aliquam alias harum officiis veritatis consequatur quasi beatae cum expedita ullam nesciunt sint sit at nulla, recusandae quo, aliquid dignissimos! Aliquam, magni. Ipsam libero minima cum repellat facere accusamus blanditiis, animi officiis explicabo quibusdam unde eligendi repellendus incidunt consectetur, architecto maiores in tempora alias sapiente. Ab excepturi labore laborum dolorem debitis eveniet, corrupti dolor quod ut dicta, aspernatur officiis odit repellendus perspiciatis quae tenetur esse numquam illum alias nihil libero maiores fuga quidem rerum. Consectetur sunt, ipsum qui explicabo delectus cum culpa! Commodi inventore cum, non numquam sint ut!</p>
        </section>

        <!-- Start footer -->
        {% include "layouts/components/footer.html.twig" %}
        <!-- end footer -->


        <!-- end navbar -->
        <div class="vertical-overlay" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent.show"></div>

        <!--start back-to-top-->
        <button onclick="topFunction()" class="btn btn-danger btn-icon landing-back-top" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->

    </div>
    <!-- end layout wrapper -->

    <!-- JAVASCRIPT -->
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <script src="assets/libs/feather-icons/feather.min.js"></script>
    <script src="assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="assets/js/plugins.js"></script>

    <!--Swiper slider js-->
    <script src="assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- landing init -->
    <script src="assets/js/pages/landing.init.js"></script>

    <!-- Custom javascripts --> 
    {% block javascripts %}{% endblock %}
</body>
</html>