<!DOCTYPE html>
<html lang="fr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">

<head>

    <meta charset="utf-8" />
    <title>{{ (title is defined) ? title ~ ' |' : '' }} Admin agathefrederick.fr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Dashboard du site agathefrederick.fr" name="description" />
    <meta content="AGATHE Frédérick" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">

    <!-- Layout config Js -->
    <script src="{{ asset('js/layout.js') }}"></script>
    <!-- Bootstrap Css -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ asset('css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ asset('css/app.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{ asset('css/custom.min.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        {{ include('dashboard/components/menu.html.twig') }}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    {{ include('dashboard/components/page-title.html.twig', {
                        pagetitle: 'Pages', 
                        title: 'Starter'
                    }) }}

                    {% block main %}{% endblock %}

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {{ include('dashboard/components/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top" style="display: block;">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    <script src="{{ asset('libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ asset('libs/node-waves/waves.min.js') }}"></script>
    <script src="{{ asset('libs/feather-icons/feather.min.js') }}"></script>
    <script src="{{ asset('js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    {% block javascripts %}{% endblock %}

    <!-- App js -->
    <script src="{{ asset('js/app.js') }}"></script>
</body>

</html>